* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    font-family: 'Alice', sans-serif;
    line-height: 1.5; 
    color: #573a37;
}

body {
    background-image: url('assets/bg.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
}

#page {
    width: 800px;
    padding: 10px;
    background-color: #dbd5b2;
    border-radius: 4px; 
    margin: 10px auto;
}

img {
    border-radius: 0%;
}

main {
    padding: 20px;
}

section + section {
    margin-top: 20px; 
}

#about p + p {
    margin-top: 24px;
}

h1 {
    line-height: 1.2;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    margin-bottom: 10px;
    color: #000;
}

ul {
    padding-left: 20px; 
}

footer {
    color: #ffeec0;
    text-align: center;
    padding-bottom: 10px;
}

footer img {
    vertical-align: middle; 
}